@container-width: 960px;

@black-color: #000;
@header-color: #cdddf7;
@dark-red-color: #c95158;

@light-blue-color: #cdddf7;
@dark-blue-color: #76869d;

@defaultGridCol: 24px;
@defaultGridDivision: @defaultGridCol * 4;

@font-face {
  font-family: Njichare; /* Гарнитура шрифта */
  src: url(../fonts/njichare.eot); /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: Njichare; /* Гарнитура шрифта */
  src: url(../fonts/njichare.otf); /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: Njichare; /* Гарнитура шрифта */
  src: url(../fonts/njichare.woff); /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: Njichare; /* Гарнитура шрифта */
  src: url(../fonts/njichare.svg); /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: Njichare; /* Гарнитура шрифта */
  src: url(../fonts/njichare.ttf); /* Путь к файлу со шрифтом */
}

body {
  margin: 0;
  padding: 0;
//  background: #f2efef url(../img/bg_paper.png) repeat;
//  background-attachment: fixed;

  color: #410f04;
  // font-family: 'Njichare', 'Neucha', cursive;
}



div.container {
//    margin: 0;
    max-width: none !important;
    min-width: @container-width;
    width: @container-width;
}

div.wide-container {
    // max-width: none !important;
    min-width: 100%;
    width: 100%;
}

.center {
  text-align: center;
}

.red {
  color: #d9534f;
}


.margin-h1 {
    margin-bottom: 45px;
}

.margin-h2 {
    margin-bottom: 35px;
}

.margin-h3 {
    margin-bottom: 20px;
}

.margin-h4 {
    margin-bottom: 15px;
}

.font-h {
    font-family: 'Njichare', 'Neucha', cursive;

    font-weight: 400;
    // text-transform: uppercase;
}

.font-h1 {
    .font-h;
    font-size: 45px;
    line-height: 45px;
}

.font-h2 {
    .font-h;
    font-size: 34px;
    line-height: 36px;
}

.font-h3 {
    .font-h;
    font-size: 25px;
    line-height: 30px;
}

.margin-h1 {
  margin-bottom: 20px;
}

.margin-h2 {
  margin-bottom: 10px;
}

.margin-h3 {
  margin-bottom: 8px;
}

h1 {
  .font-h1;
  .margin-h1;
}

h2 {
  .font-h2;
  .margin-h2;
}

h3 {
  .font-h3;
  .margin-h3;
}


.header {
    // background-color: @header-color;
//    border-top: 5px solid #ffb8a5;
    width: 100%;
    height: 120px;
    margin-top: 0px;
   padding: 10px 0;
    // position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;

    .container {

      .left-side {
        float: left;
      }

      .right-side {
        float: right;
      }


      .logo {
        margin: auto;
        position: absolute;
        top: 0px;
        width: 300px;

        margin-left: @container-width/2 - 174px;

        a {
          &:hover {
            text-decoration: none !important;
            div {
              text-decoration: none;
            }

          }

        }
      }


      .title {
        font-size: 26px;
      }
      .description {
        font-size: 16px;
      }
      .contact-phone {
        font-size: 28px;
      }
    }
}

.service-panel {
  font-size: 10px;
}

.content {
  margin-top: 80px;

  .hello-block {
    p {
      font-size: 18px;
    }
  }

  .offer-block .container {
    position: relative;
  }

  .banners-widget {
    .carousel-control {
      background-image: none;
    }
  }

  .main-description {
    padding-top: 45px;
    padding-right: 20px;

    li {
      font-size: 30px;
      line-height: 1.2;
      padding-bottom: 20px;
    }
  }

}

.landing-form {
    background-color: #fff;
    border: 5px solid lighten(#d9534f, 20%);
    border-radius: 10px;
    padding: 20px 35px 30px 35px;

    -webkit-box-shadow: 0px 3px 3px 0px rgba(102,102,102,1);
    -moz-box-shadow: 0px 3px 3px 0px rgba(102,102,102,1);
    box-shadow: 0px 3px 3px 0px rgba(102,102,102,1);

    h4 {
      font-size: 22px;
      line-height: 1.4;
      margin-bottom: 15px;
    }

    .form-group {
      margin-bottom: 20px;
    }

    .btn {
      font-size: 18px;
      letter-spacing: 2.5px;
      margin-top: 15px;
      padding: 14px 0 10px 0;
      text-transform: uppercase;
      width: 100%;
    }

  }

.content-block {
  padding: 70px 0;
}

.horizontal-line-block {
  h1 {
    color: @dark-blue-color;
    font-family: 'Njichare', 'Neucha', cursive;
  }
}

.notched-section__top, .notched-section__bottom {
  background: url(../img/notched-border-blue.png) repeat-x;
  height: 10px;
}

.notched-section__bottom {
  background-position: 0 -11px;
}

.notched-section__content {
  overflow: hidden;
  padding: 28px 0;
  background: @light-blue-color;
  // background: -moz-linear-gradient(top, #f5f5f5 0%, #f0f0f0 31%, #f8f8f8 66%, #f7f7f7 100%);
  // background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(31%, #f0f0f0), color-stop(66%, #f8f8f8), color-stop(100%, #f7f7f7));
  // background: -webkit-linear-gradient(top, #f5f5f5 0%, #f0f0f0 31%, #f8f8f8 66%, #f7f7f7 100%);
  // background: -o-linear-gradient(top, #f5f5f5 0%, #f0f0f0 31%, #f8f8f8 66%, #f7f7f7 100%);
  // background: -ms-linear-gradient(top, #f5f5f5 0%, #f0f0f0 31%, #f8f8f8 66%, #f7f7f7 100%);
  // background: linear-gradient(to bottom, #f5f5f5 0%,#f0f0f0 31%,#f8f8f8 66%,#f7f7f7 100%);
  // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#f7f7f7',GradientType=0 );
}

.incut-block {

  h1 {
    margin: 0;
    padding: 0;
  }


}


.thumbnail {
    border: 0;
    box-shadow: none;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;

    .caption {
      font-size: 14px;
      padding: 5px 0;
      text-align: center;
    }

    a>img {
      margin-right: 0;
      margin-left: 0;
    }
}


.modal-window-status {
    border-radius: 0px;
    padding: 10px 15px 20px 15px;

    -webkit-box-shadow: 0px 3px 3px 0px rgba(102,102,102,1);
    -moz-box-shadow: 0px 3px 3px 0px rgba(102,102,102,1);
    box-shadow: 0px 3px 3px 0px rgba(102,102,102,1);
}

.modal-window-success {
    background-color: #DCEDE0;
    border: 3px solid green;

    h4 {
        .font-h3;
        .margin-h3;
        color: green;
    }

    .glyphicon {
        color: green;
        font-size: 120px;
    }
}


.modal-window-error {
    background-color: #F9DFDF;
    border: 3px solid @dark-red-color;

    h4 {
        .font-h3;
        .margin-h3;
    }

    .glyphicon {
        color: @dark-red-color;
        font-size: 120px;
    }

}

.blue-border {
  border: 5px solid #76869d;
  border-radius: 2px;
  padding: 10px;
}