@font-face {
    font-family: 'amatic_scregular';
    src: url('../font/amaticsc-regular-webfont.eot');
    src: url('../font/amaticsc-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/amaticsc-regular-webfont.woff') format('woff'),
         url('../font/amaticsc-regular-webfont.ttf') format('truetype'),
         url('../font/amaticsc-regular-webfont.svg#amatic_scregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
* {
	margin: 0;
	padding: 0;
}
img a{
	border:none;
}
body {
	margin: 0;
	padding: 0;
	background: #f2efef url(../pictures/bg_paper.png) repeat;
	background-attachment: fixed;
}
h1 {
	font-family: 'amatic_scregular';
	font-size:80px;
	line-height:80px;
	padding-top:0;
	text-align:center;
}
h2, h3, h4, h5, h6 {
	font-family: 'amatic_scregular';
	font-size:56px;
	line-height:56px;
	padding-top:0;
	text-align:center;
	/*vertical-align:text-top;*/
}
p{
	padding:10px;
}
.clr{
	clear:both;
	margin:0;
	padding:0;
}
#container {
	width: 1000px;
	margin: 0 auto;
	padding-top: 0;/*100px;*/
	/*background-color:#CCCCCC;*/
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	line-height:22px;
}

#header {
	background: url(../pictures/bg_menu.png) repeat;
	width: 100%;
	height: 90px;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index:1000;

}

/*------ menu -------*/
#conteneur_du_menu{
	width:1000px;
	height:70px;
	margin:0 auto;
	padding:20px 0 0 0;
}
#menu {
	margin: 0 auto;
	padding:0;
	list-style:none;
	text-align:center;
	width: 950px;
	float:left;
}
#menu li, #menu li a{
	display:inline;
	margin-right:20px;
	color:#000;
	font-family: 'amatic_scregular', Arial;
	font-size: 45px;
	line-height:50px;
	text-decoration:none;
}
#menu li a:hover, #navigation li a:focus, #navigation li a:active {
	text-decoration:overline;
}
#facebook{
	float:right;
	width:50px;
	height:50px;
	background: url(../pictures/facebook.png) no-repeat;
}
	
/*----- TABLEAU 1 ----*/
#img1{position:relative;}
#img1 .diaporama{
	width:1000px;
	height:500px;
	text-align:center;
	padding-top:120px;
	position:relative;
}
#img1 .diaporama .logo{
	width:290px;
	height:290px;
	background: url(../pictures/O-sens_logo.png) no-repeat center top;
	position:absolute;
	/*float:left;
	left:10px;
	top:-20px;*/
	z-index:10;
}
#img1 .diaporama .piment{
	width:307px;
	height:192px;
	/*background-color:#0C3;*/
	background: url(../pictures/piment.png) no-repeat center top;
	position:absolute;
	right:30px;
	bottom:-20px;
	z-index:9;
}
#img1 .bandeImageHaut_oignon{
	background: url(../pictures/oignon.png) no-repeat;
	height:195px;
	width:438px;
	position:absolute;
	left:-200px;
}
#img1 .article_de_presentation{
	padding-bottom:15px;
}
#img1 .article_de_presentation p{
	text-align:justify;
	width:860px;
	margin:0 auto;
}
#img1 .bandeImageBas_dorade{
	background: url(../pictures/dorade_haut.png) no-repeat;
	height:271px;
	width:959px;
}



/*----- TABLEAU 2 - LE PARCOURS DU CHEF ----*/
#img2{}
#img2 .bandeImageHaut_dorade{
	background: url(../pictures/dorade_bas.png) no-repeat;
	height:165px;
	width:959px;
}
#img2 .article_du_parcours{
	padding-bottom:100px;
}
#img2 .article_du_parcours .colonne_gauche{
	width:500px;
	float:left;
	text-align:center;
}
#img2 .article_du_parcours .colonne_droite{
	float:right;
	width:500px;
	text-align:center;
}
#img2 .bandeImageBas_cuillere_en_bois{
	clear:both;
	background: url(../pictures/cuillere_en_bois.png) no-repeat;
	width:955px;
	height:326px;
}



/*----- TABLEAU 3 - ATELIER DE CUISINE-----*/
#img3 {
	text-align:center;
	background: url(../pictures/couteau.png) no-repeat;
	padding-top:200px;
}
#img3 .colonne_gauche{
	float:left;
	width:500px;
	padding-top:40px;
}
#img3 .colonne_droite{
	float:right;
	width:500px;
	padding-top:80px;
}
#img3 .pastille_jaune{
	background-color: #e8c745;
    border-radius: 50% 50% 50% 50%;
	-moz-border-radius: 50%;
    -webkit-border-radius: 50%;
	-o-border-radius:50%;
    color: #5A4897;
    font-family: 'amatic_scregular';
    font-size: 32px;
	line-height:32px;
    height: 270px;
    margin: 0 auto;
    padding-top: 20px;
    position: relative;
    text-align: center;
    width: 300px;
}
#img3 .pastille_jaune .image_poivron_en_tranche{
	background: url(../pictures/poivron_rouge_en_tranche.png) no-repeat;
	width:349px;
	height:281px;
	position:absolute;
	top:70px;
	left:200px;
	/*background-color:#00FF33;*/
}
#img3 .pastille_jaune p{
	padding:30px 0 0 0;
}
#img3 .sauce{
	width:100%;
	height:225px;
	background-image:url(../pictures/sauce1.png);
	background-repeat:no-repeat;
	background-position:bottom right;
	clear:both;
}

/*----- TABLEAU 4 -  UN CHEF À DOMICILE -----*/
#img4{
	text-align:center;
	background: url(../pictures/sauce2.png) no-repeat;
	background-position:top right;
	padding: 120px 0 0 0 ;
}
#img4 .conteneur_article_chef_a_domicile{
	text-align:justify;
	padding-top:40px;
}
#img4 .conteneur_article_chef_a_domicile .colonne_gauche{
	float:left;
	width:415px;
	padding: 0 15px 0 70px;
}
#img4 .conteneur_article_chef_a_domicile .colonne_droite{
	float:right;
	width:415px;
	padding: 0 70px 0 15px;	
}
#img4 .conteneur_article_chef_a_domicile .colonne_droite .pastille_bleue{
	background-color:#a6c3f1;
	border-radius: 50% 50% 50% 50%;
	-moz-border-radius: 50%;
    -webkit-border-radius: 50%;
	-o-border-radius:50%
    color: #5A4897;
    font-family: 'amatic_scregular';
    font-size: 32px;
	line-height:32px;
    height: 250px;
    margin: 0 auto;
    padding-top: 50px;
    position: relative;
    text-align: center;
    width: 300px;
}
#img4 .aubergine{
	background-color:#666;
	background: url(../pictures/aubergine1.png);
	background-position:bottom left;
	background-repeat:no-repeat;
	width:100%;
	height:175px;
	clear:both;	
}





/*----- TABLEAU 5 - CONTACT -----*/
#img5{}
#img5 .aubergine{
	background: url(../pictures/aubergine2.png);
	background-position:top left;
	background-repeat:no-repeat;
	width:100%;
	height:149px;	
}
#img5 .article_contatct{}
#img5 .article_contatct .conteneur_des_colonnes{
	padding-top:200px;}
#img5 .article_contact .conteneur_des_colonnes .colonne_gauche{
	float:left;
	width:290px;
	text-align:center;
}
#img5 .article_contact .conteneur_des_colonnes .colonne_droite{
	float:right;
	padding-top:50px;
	/*background-color:#003333;*/
}
#img5 .article_contact .conteneur_des_colonnes .colonne_gauche .logo {
	width:290px;
	height:290px;
	background: url(../pictures/O-sens_logo.png) no-repeat center top;
	position:relative;
	float:left;
	left:10px;
	top:-20px;
	z-index:10;
}
#espace-bas {
	height: 240px;
}
.signature{
	text-align:center;
	padding-top:150px;
}
.signature a{
	text-decoration:none;
	color:#000000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	line-height:12px;
}
#logo_atelier{
	background:url(../pictures/logo_atelier.png) no-repeat center top;
	padding-top:40px;
	margin:0 auto;
}