@container-width: 1200px;

@black-color: #000;

@defaultGridCol: 24px;
@defaultGridDivision: @defaultGridCol * 4;

body {

}

div.container {
    margin: 0;
    max-width: none !important;
    min-width: @container-width;
    width: @container-width;
}

div.wide-container {
    // max-width: none !important;
    min-width: 100%;
    width: 100%;
}

